<?xml version="1.0"?>
<robot name="inventa" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159274"/>
<!-- Rviz Color Properties -->
  <xacro:include filename="$(find inventa_description)/urdf/includes/materials/materials.xacro" /> 

<!-- 0. Base_footprint-->
  <link name="base_footprint"/>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.2032" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  
  <!-- 1. BASE -->

  <link  name="base_link">
    <inertial>
      <origin  xyz="-0.00011179 -0.00023697 0.39351"  rpy="0 0 0" />
      <mass  value="20.855" />
      <inertia  ixx="0.22379"  ixy="3.0059E-07"  ixz="-1.4624E-05"  iyy="0.20975"  iyz="-8.1631E-07"  izz="0.2614" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/base_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- LINK-5 -->
  <link  name="link5">
    <inertial>
      <origin  xyz="-0.096771 1.3767E-14 0.043265"  rpy="0 0 0" />
      <mass  value="0.25" />
      <inertia  ixx="0.00030603"  ixy="-1.4802E-20"  ixz="0.00045797"  iyy="0.0012791"  iyz="3.1473E-20"  izz="0.0010384" />
    </inertial>

    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link5.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.28627 0.66275 0.32941 1" />
      </material>
    </visual>

    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link5.STL" />
      </geometry>
    </collision>

  </link>
    
  <joint  name="joint5"  type="revolute">
    <origin  xyz="0.008 0 1.405"  rpy="0 0 3.14159274" />
    <parent  link="base_link" />
    <child  link="link5" />
    <axis  xyz="0 0 1" />
    <limit  lower="-3.14"  upper="-3.14"  effort="1000"  velocity="3.14" />
  </joint>

  <transmission name="joint5_trans" >
    <type>transmission_interface/SimpleTransmission</type>
    <joint name = "joint5" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint5_act" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- LINK-6 -->
  <link  name="link6">
    <inertial>
      <origin  xyz="0.077245 -0.083007 0.054087"  rpy="0 0 0" />
      <mass  value="0.3" />
      <inertia  ixx="0.0015318"  ixy="0.00083088"  ixz="-0.000835"  iyy="0.0018481"  iyz="0.00058179"  izz="0.0021396" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link6.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.69412 0.098039 0.098039 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link6.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="joint6"  type="revolute">
    <origin  xyz="-0.14482 0 0.08758"  rpy="0 0 0" />
    <parent  link="link5" />
    <child  link="link6" />
    <axis  xyz="-0.81915 0 -0.57358" />
    <limit  lower="-0.785"  upper="0.785"  effort="1000"  velocity="3.14" />
  </joint>

  <transmission name="joint6_trans" >
    <type>transmission_interface/SimpleTransmission</type>
    <joint name = "joint6" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint6_act" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <!-- LINK-7 -->  
  <link  name="link7">
    <inertial>
      <origin  xyz="-0.0058531 0.10006 0.0072555"  rpy="0 0 0" />
      <mass  value="2.0867" />
      <inertia  ixx="0.004366"  ixy="-0.0011963"  ixz="-8.7865E-05"  iyy="0.012563"  iyz="-0.00016395"  izz="0.013393" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link7.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link7.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="joint7"  type="revolute">
    <origin  xyz="0.15625 -0.11228 0.10941"  rpy="0 0 0" />
    <parent  link="link6" />
    <child  link="link7" />
    <axis  xyz="0 -1 0" />
    <limit  lower="-0.785"  upper="0.785"  effort="1000"  velocity="3.14" />
  </joint>

  <transmission name="joint7_trans" >
    <type>transmission_interface/SimpleTransmission</type>
    <joint name = "joint7" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint7_act" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  
<!-- ========================================SERVO-LINKS========================================================== -->
  <!-- 1. FRONT-LEFT-SERVO -->
  <link name="front_left_steering_link">
    <inertial>
      <origin  xyz="-3.5854E-12 7.9796E-12 -0.0049998"  rpy="0 0 0" />
      <mass  value="0.002857" />
      <inertia  ixx="1.0227E-07"  ixy="8.6872E-17"  ixz="-2.7953E-18"  iyy="1.0227E-07"  iyz="6.2158E-18"  izz="1.5698E-07" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_left_servo_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_left_servo_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="front_left_steering_joint" type="revolute">
    <origin  xyz="0.194 0.21343 -0.065011"  rpy="0 0 0" />
    <!-- <origin  xyz="0.2 0.2 -0.1"  rpy="0 0 0" /> -->
    <parent  link="base_link" />
    <child  link="front_left_steering_link" />
    <!-- <axis  xyz="0 0 -1" /> -->
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="200"  velocity="3.14" />
  </joint>

  <transmission name="front_left_steering_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_left_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_left_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <!-- <transmission name="front_left_servo_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_left_servo_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_left_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- 2. FRONT-RIGHT-SERVO -->
  <link name="front_right_steering_link">
    <inertial>
      <origin  xyz="-6.356E-14 8.7479E-12 -0.0049998"  rpy="0 0 0" />
      <mass  value="0.002857" />
      <inertia  ixx="1.0227E-07"  ixy="1.6845E-18"  ixz="-5.1681E-20"  iyy="1.0227E-07"  iyz="6.815E-18"  izz="1.5698E-07" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_right_servo_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_right_servo_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="front_right_steering_joint" type="revolute">
    <origin  xyz="0.194 -0.21448 -0.06345"  rpy="0 0 0" />
    <parent  link="base_link" />
    <child  link="front_right_steering_link" />
    <!-- <axis  xyz="0 0 -1" /> -->
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="200"  velocity="3.14" />
  </joint>

	<transmission name="front_right_steering_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_right_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_right_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- <transmission name="front_right_servo_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_right_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_right_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- 3. BACK-LEFT-SERVO-LINK -->
  <link name="rear_left_steering_link">
    <inertial>
      <origin  xyz="-3.5854E-12 7.9796E-12 -0.0049998"  rpy="0 0 0" />
      <mass  value="0.002857" />
      <inertia  ixx="1.0227E-07"  ixy="8.687E-17"  ixz="-2.7951E-18"  iyy="1.0227E-07"  iyz="6.2159E-18"  izz="1.5698E-07" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_left_servo_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_left_servo_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="rear_left_steering_joint"  type="revolute">
    <origin  xyz="-0.194 0.21343 -0.065011"  rpy="0 0 0" />
    <parent  link="base_link" />
    <child  link="rear_left_steering_link" />
    <!-- <axis  xyz="0 0 -1" /> -->
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="200"  velocity="3.14" />
  </joint>

	<transmission name="rear_left_steering_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_left_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_left_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- <transmission name="rear_left_servo_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_left_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_left_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- 4. BACK-RIGHT-SERVO-LINK -->
  <link name="rear_right_steering_link">
    <inertial>
      <origin  xyz="-6.3505E-14 8.7479E-12 -0.0049998"  rpy="0 0 0" />
      <mass  value="0.002857" />
      <inertia  ixx="1.0227E-07"  ixy="1.6846E-18"  ixz="-5.1557E-20"  iyy="1.0227E-07"  iyz="6.815E-18"  izz="1.5698E-07" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_right_servo_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_right_servo_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="rear_right_steering_joint"  type="revolute">
    <origin  xyz="-0.194 -0.21448 -0.06345"  rpy="0 0 0" />
    <parent  link="base_link" />
    <child  link="rear_right_steering_link" />
    <!-- <axis  xyz="0 0 -1" /> -->
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="200"  velocity="3.14" />
  </joint>  

	<transmission name="rear_right_steering_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_right_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_right_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
    
  <!-- <transmission name="rear_right_servo_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_right_steering_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_right_servo_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- Steering Links -->
  <gazebo reference="front_left_steering_link">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="front_right_steering_link">
    <material>Gazebo/Grey</material>
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="rear_left_steering_link">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="rear_right_steering_link">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

<!-- ================================================MIDDLE-LINKS======================================================  -->
  <link name="front_left_mid_link">
    <inertial>
      <origin  xyz="5.6807E-10 0.02165 -0.044032"  rpy="0 0 0" />
      <mass  value="0.10135" />
      <inertia  ixx="0.00010064"  ixy="2.4102E-13"  ixz="6.903E-16"  iyy="8.7535E-05"  iyz="2.4624E-06"  izz="4.2295E-05" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_left_steering_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_left_steering_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="front_left_mid_joint"  type="fixed">
    <origin  xyz="0 0.0355 0"  rpy="0 0 0" />
    <parent  link="front_left_steering_link" />
    <child  link="front_left_mid_link" />
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="800"  velocity="0.785" />
    <dynamics damping="0.7"/>
  </joint>

  <!-- <transmission name="front_left_mid_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_left_mid_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_left_mid_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- FRONT-RIGHT-STEERING-LINK -->
  <link  name="front_right_mid_link">
    <inertial>
      <origin  xyz="-5.698E-10 -0.02165 -0.044032"  rpy="0 0 0" />
      <mass  value="0.10135" />
      <inertia  ixx="0.00010064"  ixy="2.4E-13"  ixz="-8.9601E-16"  iyy="8.7535E-05"  iyz="-2.4624E-06"  izz="4.2295E-05" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_right_steering_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/front_right_steering_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint  name="front_right_mid_joint"  type="fixed">
    <origin  xyz="0 -0.0355 0"  rpy="0 0 0" />
    <parent  link="front_right_steering_link" />
    <child  link="front_right_mid_link" />
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="800"  velocity="0.785" />
    <dynamics damping="0.7"/>
  </joint>

  <!-- <transmission name="front_right_mid_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="front_right_mid_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_right_mid_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- BACK-LEFT-STEERING-LINK -->
  <link  name="rear_left_mid_link">
    <inertial>
      <origin  xyz="5.6795E-10 0.02165 -0.044032"  rpy="0 0 0" />
      <mass  value="0.10135" />
      <inertia  ixx="0.00010064"  ixy="2.4102E-13"  ixz="6.9029E-16"  iyy="8.7535E-05"  iyz="2.4624E-06"  izz="4.2295E-05" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_left_steering_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_left_steering_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint  name="rear_left_mid_joint"  type="fixed">
    <origin  xyz="0 0.0355 0"  rpy="0 0 0" />
    <parent  link="rear_left_steering_link" />
    <child  link="rear_left_mid_link" />
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="800"  velocity="0.785" />
    <dynamics damping="0.7"/>
  </joint>

<!-- <transmission name="rear_left_mid_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rear_left_mid_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="rear_left_mid_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission> -->

  <!-- BACK-RIGHT-STEERING-LINK -->
  <link  name="rear_right_mid_link">
    <inertial>
      <origin  xyz="-5.6973E-10 -0.02165 -0.044032"  rpy="0 0 0" />
      <mass  value="0.10135" />
      <inertia  ixx="0.00010064"  ixy="2.4E-13"  ixz="-8.96E-16"  iyy="8.7535E-05"  iyz="-2.4624E-06"  izz="4.2295E-05" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_right_steering_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/back_right_steering_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint  name="rear_right_mid_joint"  type="fixed">
    <origin  xyz="0 -0.0355 0"  rpy="0 0 0" />
    <parent  link="rear_right_steering_link" />
    <child  link="rear_right_mid_link" />
    <axis  xyz="0 0 1" />
    <limit  lower="-0.785"  upper="0.785"  effort="800"  velocity="0.785" />
    <dynamics damping="0.7"/>
  </joint>

  <!-- <transmission name="rear_right_mid_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_right_mid_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_right_mid_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> -->

  <!-- Updated Gazebo properties for mid links -->
  <gazebo reference="front_left_mid_link">
    <material>Gazebo/White</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="front_right_mid_link">
    <material>Gazebo/White</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="rear_left_mid_link">
    <material>Gazebo/White</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="rear_right_mid_link">
    <material>Gazebo/White</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

<!-- ===========================================WHEEL-LINKS================================================================ -->
<!-- FFL-WHEEL-LINK -->
<link name="ffl_wheel_link">
    <inertial>
      <origin  xyz="4.7598E-07 -0.032281 1.0923E-10"  rpy="0 0 0" />
      <mass  value="2.0244" />
      <inertia  ixx="0.0057451"  ixy="6.8309E-08"  ixz="3.3079E-13"  iyy="0.010085"  iyz="1.3338E-11"  izz="0.0057451" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/rfl_wheel_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/rfl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="ffl_wheel_joint"  type="continuous">
    <origin  xyz="0 0.1202 -0.0735"  rpy="0 0 0" />
    <parent  link="front_left_mid_link" />
    <child  link="ffl_wheel_link" />
    <!-- <axis  xyz="0 -1 0" /> -->
    <axis  xyz="0 1 0" />
    <limit  lower="-3.14"  upper="3.14"  effort="100" velocity="20" />
  </joint>
  
  <transmission name="ffl_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ffl_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="ffl_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission>

<!-- FFR-WHEEL-LINK -->
  <link  name="ffr_wheel_link">
    <inertial>
      <origin  xyz="-4.7598E-07 0.032281 1.0923E-10"  rpy="0 0 0" />
      <mass  value="2.0244" />
      <inertia  ixx="0.0057451"  ixy="6.831E-08"  ixz="-3.3079E-13"  iyy="0.010085"  iyz="-1.3338E-11"  izz="0.0057451" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/rfr_wheel_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.79216 0.81961 0.93333 1" />
      </material><!-- LINK-6 -->
  <link  name="link6">
    <inertial>
      <origin  xyz="0.077245 -0.083007 0.054087"  rpy="0 0 0" />
      <mass  value="0.3" />
      <inertia  ixx="0.0015318"  ixy="0.00083088"  ixz="-0.000835"  iyy="0.0018481"  iyz="0.00058179"  izz="0.0021396" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link6.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.69412 0.098039 0.098039 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/link6.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="joint6"  type="revolute">
    <origin  xyz="-0.14482 0 0.08758"  rpy="0 0 0" />
    <parent  link="link5" />
    <child  link="link6" />
    <axis  xyz="-0.81915 0 -0.57358" />
    <limit  lower="-0.785"  upper="0.785"  effort="1000"  velocity="3.14" />
  </joint>

    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/rfr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="ffr_wheel_joint"  type="continuous">
    <origin  xyz="0 -0.1202 -0.0735"  rpy="0 0 0" />
    <parent  link="front_right_mid_link" />
    <child  link="ffr_wheel_link" />
    <!-- <axis  xyz="0 -1 0" /> -->
    <axis  xyz="0 1 0" />
    <limit  lower="-3.14"  upper="3.14"  effort="100" velocity="20" />
  </joint>

  <transmission name="ffr_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ffr_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="ffr_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission>


  <!-- RFL-WHEEL-LINK -->
  <link  name="rfl_wheel_link">
    <inertial>
      <origin  xyz="4.7598E-07 -0.032281 1.0923E-10"  rpy="0 0 0" />
      <mass  value="2.0244" />
      <inertia  ixx="0.0057451"  ixy="6.8309E-08"  ixz="3.3079E-13"  iyy="0.010085"  iyz="1.3338E-11"  izz="0.0057451" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/ffl_wheel_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/ffl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="rfl_wheel_joint"  type="continuous">
    <origin  xyz="0 0.1202 -0.0735"  rpy="0 0 0" />
    <parent  link="rear_left_mid_link" />
    <child  link="rfl_wheel_link" />
    <!-- <axis  xyz="0 -1 0" /> -->
    <axis  xyz="0 1 0" />
    <limit  lower="-3.14"  upper="3.14"  effort="100" velocity="20" />
  </joint>

  <transmission name="rfl_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rfl_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="rfl_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission>


  <!-- RFR-WHEEL-LINK -->
  <link  name="rfr_wheel_link">
    <inertial>
      <origin  xyz="-4.7598E-07 0.032281 1.0923E-10"  rpy="0 0 0" />
      <mass  value="2.0244" />
      <inertia  ixx="0.0057451"  ixy="6.831E-08"  ixz="-3.3079E-13"  iyy="0.010085"  iyz="-1.3338E-11"  izz="0.0057451" />
    </inertial>
    <visual>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/ffr_wheel_link.STL" />
      </geometry>
      <material  name="">
        <color  rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin  xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh  filename="package://inventa_description/meshes/new/ffr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint  name="rfr_wheel_joint"  type="continuous">
    <origin  xyz="0 -0.1202 -0.0735"  rpy="0 0 0" />
    <parent  link="rear_right_mid_link" />
    <child  link="rfr_wheel_link" />
    <!-- <axis  xyz="0 -1 0" /> -->
    <axis  xyz="0 1 0" />
    <limit  lower="-3.14"  upper="3.14"  effort="100" velocity="20" />
  </joint>

  <transmission name="rfr_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rfr_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="rfr_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>0.4</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Updated Gazebo properties for wheel links -->
  <!-- <gazebo reference="rfl_wheel_link">
    <material>Gazebo/DarkGrey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <fdir1>1 0 0</fdir1>
    <selfCollide>true</selfCollide>
    <minDepth>0.005</minDepth>
  </gazebo> -->
  <gazebo reference="rfl_wheel_link">
    <material>Gazebo/DarkGrey</material>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
    <maxVel>100.0</maxVel>
    <minDepth>0.001</minDepth>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>


  <gazebo reference="rfr_wheel_link">
    <!-- <material>Gazebo/DarkGrey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <fdir1>1 0 0</fdir1>
    <selfCollide>true</selfCollide>
    <minDepth>0.005</minDepth>
  </gazebo> -->
    <material>Gazebo/DarkGrey</material>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
    <maxVel>100.0</maxVel>
    <minDepth>0.001</minDepth>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="ffl_wheel_link">
    <!-- <material>Gazebo/DarkGrey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <fdir1>1 0 0</fdir1>
    <selfCollide>true</selfCollide>
    <minDepth>0.005</minDepth>
  </gazebo> -->
    <material>Gazebo/DarkGrey</material>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
    <maxVel>100.0</maxVel>
    <minDepth>0.001</minDepth>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="ffr_wheel_link">
    <!-- <material>Gazebo/DarkGrey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <fdir1>1 0 0</fdir1>
    <selfCollide>true</selfCollide>
    <minDepth>0.005</minDepth>
  </gazebo> -->
    <material>Gazebo/DarkGrey</material>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
    <maxVel>100.0</maxVel>
    <minDepth>0.001</minDepth>
    <selfCollide>false</selfCollide>
    <gravity>true</gravity>
  </gazebo>


<!-- ============================================================================================================== -->
  <!-- realsense_camera -->
  <xacro:include filename="$(find inventa_description)/urdf/accessories/realsense_d455/_d455.urdf.xacro"/>
  <xacro:sensor_d455 parent="base_link">
    <!-- <origin xyz="0.1 0.0 0.6" rpy="0 0 0"/> -->
    <origin xyz="0.15 0.0 0.8" rpy="0 0 0"/>
  </xacro:sensor_d455>    
<!-- ============================================================================================================== -->
<!-- rplidar -->
  <xacro:include filename="$(find inventa_description)/urdf/accessories/lidar/rplidar.urdf.xacro"/>

  <xacro:rplidar parent="base_link">
    <!-- <origin xyz="0.2 0 0.275" rpy="0 0 0"/> -->
    <!-- <origin xyz="0.35 0 0.22" rpy="0 0 0"/> -->
    <origin xyz="0.35 0 -0.1" rpy="0 0 0"/>
  </xacro:rplidar>     
<!-- ============================================================================================================== -->
<!-- Unitree4D -->
  <xacro:include filename="$(find inventa_description)/urdf/accessories/lidar/unitree4D.urdf.xacro"/> 

  <xacro:Unitree-L1 name="Unitree4D" parent="base_link" topic="/unitree_lidar_l1/points" hz="11" lasers="90" samples="360" collision_range="0.05" min_range="0.5" max_range="20.0" noise="0.02" min_angle="0" max_angle="1.57" gpu="false">
    <origin xyz="-0.15 0.0 0.8" rpy="0.0 0.0 0.0"/>
  </xacro:Unitree-L1>
<!-- ============================================================================================================== -->
<!-- IMU -->
  <xacro:include filename="$(find inventa_description)/urdf/includes/parts/sensors/imu/bno055.urdf.xacro" />
    <!-- Xacro arguments for imu -->
    <xacro:arg name="imu_enable" default="true" />
    <xacro:if value="$(arg imu_enable)" >
      <xacro:sensor_imu name="imu" topic_ns="imu" parent="base_link" >
        <origin xyz="-0.1 0 0.5" rpy="0 0 0" />
      </xacro:sensor_imu>
  </xacro:if>
<!-- ============================================================================================================== -->
<!-- GPS -->
  <xacro:include filename="$(find inventa_description)/urdf/includes/parts/sensors/gps/mtk3339.urdf.xacro" />  
  <!-- Xacro arguments for gps -->
  <xacro:arg name="gps_enable" default="true" />
  <xacro:if value="$(arg gps_enable)" >
    <xacro:sensor_gps name="mtk3339" topic_ns="mtk_gps" parent="imu_link" >
      <origin xyz="-0.044 0 0.0" rpy="0 0 0" />
    </xacro:sensor_gps>
  </xacro:if>
<!-- ============================================================================================================== -->
<!-- Sonar -->
  <xacro:include filename="$(find inventa_description)/urdf/includes/parts/sensors/sonar/hcsr04.urdf.xacro" /> 
  <!-- Xacro arguments for ultrasonic -->
  <xacro:arg name="ultrasonic_enable" default="true" /> 
  <xacro:property name="base_len" value="0.6"/>
  <xacro:property name="base_width" value="0.6"/>
  <xacro:property name="base_height" value="0.1"/>
  <xacro:property name="base_z_offset" value="0.013"/>
  <!-- Ultrasonic Sensors -->
  <xacro:if value="$(arg ultrasonic_enable)" >
    <xacro:sensor_sonar name="sonar_1" topic_ns="sonar_back_rt" prefix="back_rt" parent="base_link" >
      <origin xyz="0 -${base_width/2} ${base_height/2}" rpy="0 0 -${pi/2}" />
    </xacro:sensor_sonar>

    <xacro:sensor_sonar name="sonar_2" topic_ns="sonar_front_rt45" prefix="front_rt45" parent="base_link" >
      <origin xyz="${base_len/2} -${base_width/2} ${base_height+(base_z_offset)/2}" rpy="0 0 -${pi/4}" />
    </xacro:sensor_sonar>

    <xacro:sensor_sonar name="sonar_3" topic_ns="sonar_front" prefix="front" parent="base_link" >
      <origin xyz="${base_len/2} 0 ${base_height+(base_z_offset)/2}" rpy="0 0 0" />
    </xacro:sensor_sonar>

    <xacro:sensor_sonar name="sonar_4" topic_ns="sonar_front_lt45" prefix="front_lt45" parent="base_link" >
      <origin xyz="${base_len/2} ${base_width/2} ${base_height+(base_z_offset)/2}" rpy="0 0 ${pi/4}" />
    </xacro:sensor_sonar>

    <xacro:sensor_sonar name="sonar_5" topic_ns="sonar_back_lt" prefix="back_lt" parent="base_link" >
      <origin xyz="0 ${base_width/2} ${base_height/2}" rpy="0 0 ${pi/2}" />
    </xacro:sensor_sonar>

    <xacro:sensor_sonar name="sonar_6" topic_ns="sonar_back_lt45" prefix="back_lt45" parent="base_link" >
      <origin xyz="-${base_len/2} 0 ${base_height+(base_z_offset)/2}" rpy="0 0 ${pi/2 + pi/2}" />
    </xacro:sensor_sonar>
    
  </xacro:if>
<!-- ============================================================================================================== -->
  <!-- =============== Gazebo =============== -->
  <xacro:include filename="$(find inventa_description)/urdf/includes/gazebo/inventa.gazebo" />
  <!-- <xacro:include filename="$(find inventa_description)/urdf/includes/gazebo/robot.gazebo.xacro" />   -->

</robot>