[submodule "src/depthai-ros"]
	path = src/depthai-ros
	url = https://github.com/luxonis/depthai-ros.git
[submodule "src/ground_segmentation"]
	path = src/ground_segmentation
	url = https://github.com/dfki-ric/ground_segmentation.git
[submodule "src/ground_segmentation_ros2"]
	path = src/ground_segmentation_ros2
	url = https://github.com/dfki-ric/ground_segmentation_ros2.git
[submodule "src/manriix_freespace_overlay/src"]
	path = src/manriix_freespace_overlay/src
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_freespace_segmentation.git
[submodule "src/manriix_rc_teleop"]
	path = src/manriix_rc_teleop
	url = git@github-kaveeshad:kaveeshad-hype/rf_comms.git
[submodule "src/nav2_ground_consistency_costmap_plugin"]
	path = src/nav2_ground_consistency_costmap_plugin
	url = https://github.com/dfki-ric/nav2_ground_consistency_costmap_plugin.git
[submodule "src/nvidia_source_read_only/isaac_ros_depth_segmentation"]
	path = src/nvidia_source_read_only/isaac_ros_depth_segmentation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_depth_segmentation.git
[submodule "src/nvidia_source_read_only/isaac_ros_freespace_segmentation"]
	path = src/nvidia_source_read_only/isaac_ros_freespace_segmentation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_freespace_segmentation.git
