<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="servo_gazebo_v0" params="prefix">
    <!-- <gazebo reference="${prefix}_steering_link">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo> -->

    <!-- Steering Links -->
    <gazebo reference="front_left_steering_link">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  
    <gazebo reference="front_right_steering_link">
      <material>Gazebo/Grey</material>
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  
    <gazebo reference="rear_left_steering_link">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  
    <gazebo reference="rear_right_steering_link">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  </xacro:macro>

</robot>