[Unit]
Description=Manriix CAN Interface Shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/sbin/ip link set can2 down
ExecStop=/sbin/ip link set can3 down

[Install]
WantedBy=multi-user.target
